body{
    background: #eee;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
}

#main{
    width: 500px;
    margin: 30px auto 0;

    .title{
        color: #ccc;
        font-size: 30px;
        font-weight: normal;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;

    }

    input{
        padding: 10px;
        background: #fff;
        width: 100%;
        box-sizing: border-box;
        border: 0;
        color: #999;
        font: normal 16px Arial;
        height: 55px;
        margin-bottom: 30px;
        text-align: center
    }

    select{
        width: 100%;
        padding: 10px;
        height: 55px;
    }

    .charts{
        margin-top: 30px;
    }
}